firebase-admin==5.0.0
future==0.18.2
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==2.1.1
google-cloud-storage==1.38.0
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.37.1
gunicorn==20.1.0
httplib2==0.19.1
idna==2.8
Jinja2==2.10.3
jsonschema==3.1.1
line-bot-sdk==1.19.0
numpy==1.20.3
pandas==1.2.4
flask==2.0.1